<div [ngClass]="{'isPrinting': printService.isPrinting}">
  <button (click)="onPrintInvoice()">PRINT INVOICE</button>
  <button (click)="onPrintLetter()">PRINT LETTER</button>
  <router-outlet name="print"></router-outlet>
</div>
